.explore-section {
    width: 1440px;
    height: 865px;
    margin-top: 75px;
}

.explore-section bg {
    position: absolute;
    width: 1920px;
    height: 865px;
    left: -240px;
    background-color: #030303;
}

.explore-block {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-between;
}

.explore-left-frame {
    display: flex;
    flex-direction: column;
    width: 660px;
}

.explore-left-frame h2 {
    margin-top: 75px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.explore-left-frame ul {
    margin-top: 75px;
}

.explore-line {
    width: 660px;
    height: 3px;
    left: 0px;
    margin-top: 25px;

    background: #710707;
    border-radius: 0px;
}

.explore-left-frame ul li {
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */


    color: #FFFFFF;
}

.explore-right-frame {
    width: 720px;
}

.explore-slider {
    position: absolute;
    margin-left: 501px;
    margin-top: 90px;
}

.explore-img-before {
    margin-top: 90px;
    overflow: hidden;
    position: absolute;
    width: 520px;
    height: 700px;
}

.explore-img-after {
    margin-top: 90px;
}