// footer {
//     margin-top: 75px;
//     width: 1920px;
//     height: 2200px;
    
// }
footer {
    position: relative;
    clear: both;
    width: 1440px;
    height: 392px;
    top: 9095px;
}

footer bg {
    position: absolute;
    width: 1920px;
    height: 392px;
    left: -240px;

    background: #030303;
}

.footer-line {
    position: absolute;
    width: 1920px;
    height: 3px;
    left: -240px;
    top: 265px;
    background: #666;
}

.footer-block {
    position: absolute;
    width: 1440px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    width: 1440px;
    display: flex;
    flex-direction: row;
}

.footer-logo {
    margin-top: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 145px;
}

.footer-logo img {
    height: 26px;
    margin-right: 26px;
}

.footer-logo p {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    height:31;
}

.footer-navigation {
    margin-top: 84px;
    width: 1000px;
    display: flex;
    flex-direction: row;
}

.footer-navigation ul {
    margin-left: 0;
    margin-right: 150px;
}

.footer-navigation li {
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFFFFF;
}

.footer-social-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 162px;
    margin-right: -25px;
}

.footer-social-buttons .social-btn {
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 0px #666666);
    border-radius: 50px;
    margin-right: 25px;
    //background: none;
    cursor: pointer;
}

.social-btn:hover {
    background-color: rgba(255,255,255,0.2);
}

.social-btn:active {
    outline:none !important;
}

.social-btn:focus {
    outline:none !important;
}

.social-youtube {
    background: url('/mooseey/dist/assets/img/social/youtube.png') no-repeat center;
}

.social-instagram {
    background: url('/mooseey/dist/assets/img/social/instagram.png') no-repeat center;
    
}

.social-facebook {
    background: url('/mooseey/dist/assets/img/social/facebook.png') no-repeat center;
}

.social-twitter {
    background: url('/mooseey/dist/assets/img/social/twitter.png') no-repeat center;
    
}

.social-pinterest {
    background: url('/mooseey/dist/assets/img/social/pinterest.png') no-repeat center;
    
}



.footer-bot {
    flex-direction: row;
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
}

.footer-bot p {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height, or 100% */

    letter-spacing: 2px;

    color: #FFFFFF;
}