.gallery-section {
    width: 1440px;
    height: 2200px;
}

.gallery-section bg {
    position: absolute;
    width: 1920px;
    height: 2200px;
    left: -240px;

    background: #030303;
}

.gallery-block {
    position: absolute;
    margin-top: 75px;
    align-items: center;
}

.gallery-block h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
    text-align: left;

    width: 100%;
}

.gallery-grids {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 24px;
    max-height: 1500px;
}

.gallery-grids div:nth-child(2) {
    margin: 0 21px;
}

.gallery-grid-side {
    margin-top: 50px;
}

.gallery-rectangle-blur {
    position: absolute;
    width: 1440px;
    height: 360px;
    left: 0px;
    top: 1765px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}