header {
    width: 1440px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #030303;
    align-items: center;
    position: absolute;
}

header bg {
    position: absolute;
    width: 1920px;
    height: 150px;
    left: -240px;
    top: 0px;

    background: #030303;
}

.header-block {
    position: absolute;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 199px;
    margin: 0;
    align-items: center;
}

.header-logo img {
    /* Vector */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.header-logo p {
    width: 125px;
    height: 31px;
    
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 5px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.header-navigation {
    //position: absolute;
    width: 775px;
    height: 26px;
    left: 665px;
    top: 62px;
    align-items: center;
}

.header-navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-navigation ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    margin-left: 46px;
    letter-spacing: 2px;

    color: #FFFFFF;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: grey;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: underline;
  }