.video-section {
    width: 1440px;
    height: 1466px;
    left: 0;
    display: flex;
    margin-bottom: 75px;
    flex-direction: column;
}

.video-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;
}

.video-header h2 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;

    min-width: 606px;
    margin-right: 115px;

}

.video-header p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */
    
    display: flex;
    align-items: center;
    
    color: #000000;

}

.video-toggle-button {
    width: 220px;
    height: 220px;
    position: absolute;
    left: 610px;
    margin-top: 270px;
    border: none;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.video-play-button {
    background: url("dist/assets/img/video/Play.png") no-repeat;
    cursor: pointer;
}

.video-pause-button {
    background: url("dist/assets/img/video/Pause.png") no-repeat;
    cursor: pointer;
}

.video-toggle-button:focus {
    outline:none !important;
    opacity: 0;
}

.video-toggle-button:hover {
    opacity: 1;
}

.video-toggle-button:active {
    outline:none !important;
    opacity: 0;
}

.video-big-block {
    margin-top: 75px;
}

.video-big-controls {
    background: #030303;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 85px;
    margin-top: -3px;
    justify-content: space-between;
    align-items: center;
}

.button-with-slider {
    display: flex;
    flex-direction: row;
}

.video-slider-container {
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.video-length-slider-container {
    min-width: 930px;
}

.video-vol-slider-container {
    min-width: 243px;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: 0;
    opacity: .7;
    transition: opacity .2s;
    cursor: pointer;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #fff;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.vc-btn {
    margin: 0 25px;
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.video-list-controls {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video-list ul {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.video-list li {
    width: 452px;
    height: 254px;
}

.video-list li:nth-child(2) {
    margin: 0 42px;
}

.video-list-item {
    width: 452px;
    height: 254px;
    background-size: contain;
}

.youtube-play {
    background: url("dist/assets/img/video/youtube-icon-inactive.png") no-repeat;
    position: absolute;
    margin-left: 188px;
    margin-top: 103px;
    cursor: pointer;
    width: 68px;
    height: 48px;
    border: none;
}

.youtube-play:hover {
    background: url("dist/assets/img/video/youtube-icon-active.png") no-repeat;
}

.youtube-play:active {
    outline:none !important;
}

.youtube-play:focus {
    outline:none !important;
}

.video-list-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
    align-items: center;
}

.video-list-item-tumbnail {
    display: flex;
    flex-direction: row;
}

.video-list-item-tumbnail img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 10px;
}

.video-list-item-tumbnail p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    /* identical to box height, or 214% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.video-list-item-3dot {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 16px;
    padding-right: 36px;
}

.video-list-controls button {
    border: none;
    min-width: 12px;
    min-height: 12px;
    margin-left: 20px;
}

button:active {
    outline:none !important;
}

button:focus {
    outline:none !important;
}

.video-list-controls button:first-child {
    margin-left: 0px;
}

.slider-prev {
    cursor: pointer;
    background: url('src/assets/img/video/control-prev.png') no-repeat;
}

.slider-prev:active {
    outline:none !important;
}

.slider-prev:focus {
    outline:none !important;
}

.slider-next {
    cursor: pointer;
    background: url('src/assets/img/video/control-next.png') no-repeat;
}

.slider-next:active {
    outline:none !important;
}

.slider-next:focus {
    outline:none !important;
}

.slider-dot {
    background: url('src/assets/img/video/control-dot-inactive.png') no-repeat;
}

.slider-dot-active {
    background: url('src/assets/img/video/control-dot-active.png') no-repeat;
    outline:none !important;
}
