.virtual-section {
    width: 1440px;
    // should still be 1116px due to FIGMA
    height: 1200px;
    //height: 1116px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.virtual-header{
    margin-top: 75px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
}

.virtual-line {
    width: 1440px;
    height: 3px;
    left: 0px;
    margin-top: 25px;

    background: #710707;
    border-radius: 0px;
}

 .virtual-grid {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 60px;
}

.virtual-grid-item {
    display: flex;
    flex-direction: column;
    height: 424px;
    width: 440px;
}

.virtual-grid-item a {
    height: 285px;
    width: 440px;
    margin-left: 0;
    cursor: pointer;
}

.virtual-grid-item img {
    height: 285px;
    width: 440px;
    margin-left: 0;
    cursor: pointer;
}

.virtual-grid-item p {
    margin-left: 0;
    margin-top: 25px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

}

.virtual-grid-item-line {
    width: 300px;
    height: 2px;
    left: 0px;

    background: #710707;
    border-radius: 0px;
    margin-top: 10px;
}    


.virtual-grid-item-description p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1px;
    margin-top: 10px;

    color: #000;
}

.virtual-grid-item-description p:last-child {
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
}